.footer {
  display: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid $color_mercury_approx;

  @include respond-to(desktop) {
    display: block;
  }

  .footline {
    display: flex;
    flex-wrap: nowrap;
    line-height: 2.2rem;
    padding-top: .2rem;
    padding-left: 28rem;
    // sidebar + max-content-width
    max-width: 1024px;

    .copyright {
      flex: 0 1 auto;
    }

    .date {
      display: inline-block;
      flex: 0 0 auto;
      padding-left: 10px;
    }
  }
}
